@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Roboto+Slab:wght@700&display=swap');

* {
  box-sizing: border-box;
}

body {
  background: url('/static/shop/media/homepage_background_cropped.jpg') no-repeat center center fixed;
	background-size: cover;
  background-color: #908204;
  height: calc(100vh - 164px);
  color: rgb(0, 0, 0);
  font-family: "Akya";

}

.card-text {
  color: red;
  font-weight: 800;
}

.card-title {
  font-weight: 900;
  
}

h1,
h2,
h3 {
  font-family: 'Roboto Slab', sans-serif;
  color: #222224;
}

button,
.btn {
  cursor: pointer;
  font: inherit;
  padding: 0.5rem 1.5rem;
  background-color: #ffee06;
  border: 1px solid #df7218;
  color: white;
  border-radius: 4px;
  text-decoration: none;
}

button:hover,
.btn:hover {
  background-color: #f70909;
  border-color: #e2e2e2;
}

#main-header {
    width: 100%;
    text-align: center;
    padding: 2rem 0;
}

#main-header h1 {
    font-size: 1.5rem;
}

#main-logo {
    font-size: 3rem;
    font-family: 'Roboto Slab', sans-serif;
    text-decoration: none;
    color: #350490;
    font-weight: bold;
}